body{
    background-color: azure;
}


.img2{
    border: 0cap;
}


.contact{
    color: rgb(78, 0, 0);
}


.Aims{
    border: 3px;
    border-color: black;
}


.link{
    text-decoration: none;
}


.sui{
    width: 40%;
    height: auto;
}


.youtube{
    padding: 100px;
}

